/* .container {
  max-width: 1250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  width: 125px;
}

.creatures {
  display: flex;
  flex-wrap: wrap;
}

.monsters {
  display: flex;
  flex-wrap: wrap;
}

.materials {
  display: flex;
  flex-wrap: wrap;
}

.equipment {
  display: flex;
  flex-wrap: wrap;
}

.treasure {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: calc(100% / 7);
}

@media screen and (min-width: 390px) {
  .container .navbar {
    max-width: 300px;
  }
} */
