/* body {
  background-image: url("/images/fullBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.background {
  background-color: #2271b6;
}

.item {
  padding: 1rem;
}

.link {
  font-size: 20px;
  color: #fad307;
  text-decoration: none;
} */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #222;
  background-blend-mode: darken;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #d1c0a0;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.equipment .subtitle {
  text-align: center;
  font-size: 40px;
}

.equipment .flex-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  display: box;
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.equipment .flex-wrapper .item {
  max-width: 400px;
  height: 700px;
  text-align: center;
  margin: 20px 50px 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.equipment .flex-wrapper .item .nome {
  font-size: 40px;
}

.equipment .flex-wrapper .item .image {
  border-radius: 5px;
  margin: 0 30px;
}

.equipment .flex-wrapper .item .description {
  font-size: 25px;
  margin: 10px 30px 0;
}

.equipment .flex-wrapper .item ul {
  padding: 0;
  list-style-type: none;
  font-size: 20px;
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 90%;
  transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: sans-serif;
  font-size: 20px;
  color: #d1c0a0;
  background-color: rgba(0, 0, 0, 0.404);
  border: 1px solid #d1c0a0;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.scroll-top:hover {
  opacity: 1;
}

.show {
  display: block;
}

@media only screen and (min-width: 700px) {
  .item:hover {
    transform: scale(1.1);
  }
}
