body {
  background-image: url("/images/fullBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.background {
  background-color: #2271b6;
}

.item {
  padding: 1rem;
}

.link {
  font-size: 20px;
  color: #fad307;
  text-decoration: none;
}
